/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ul {
    list-style: none;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.sr-only {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.4;
}

h1 {
    font-weight: 700;
    font-size: 1.6rem;
}

h2 {
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

strong {
    font-weight: 700;
}


/* Layout */

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

header {
    margin-bottom: 50px;
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    margin: 100px auto;
}

section {
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 3px;
    padding: 15px;
}

/* Results */

.description {
    font-style: italic;
    margin-bottom: 15px;
    margin-top: -15px
}

.row .field,
.row .field-value {
    display: inline;
}

.row .field {
    font-weight: 700;
}

.row .field-value {

}

#display-wrapper > div:not(:first-child) {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px dashed rgb(200,200,200);
}


/* Form */

label {
    display: block;
}

select,
input {
    display: block;
    width: 100%;
    margin: 5px 0;
}

select,
input,
button {
    height: 40px;
    font: inherit;
}


/* */

#insured-flights li {
    margin-bottom: 15px;
    padding-bottom: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#insured-flights li:not(:last-child) {
    border-bottom: 1px dashed rgb(200,200,200);
}

#insured-flights li > div {

}




